/* 공통 */
main .bg_type1 {background-color: #2AC1BC;}
main .bg_type2 {background-color: #fff;}
main .bg_type1 section, main .bg_type2 section {
    margin: 0 auto;
    width: 1250px;
}

main .app_download_btn {
    display: inline-block;
    font-size: 2.688rem;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 50px;
}
main .app_download_btn.btn_type_01::after {
    content: '';
    display: inline-block;
    background-image: url(../images/download_arrow.png);
    width: 40px;
    height: 36px;
}
main .app_download_btn.btn_type_02::after {
    content: '';
    display: inline-block;
    background-image: url(../images/download_arrow_white.svg);
    width: 40px;
    height: 36px;
}
/* ----- content01 Start----- */
main .content01 {padding: 45px 0;}
main .content01 section h1 {
    margin-bottom: 105px;
    text-align: center;
}
main .content01 section .main_list {
    display: flex;
    justify-content: space-between;
}
main .content01 section .main_list li {flex: 1;}
main .content01 section .main_list .main_list_g01 h2{
    margin-bottom: 65px;
    font-size: 3.438rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
}
main .content01 section .main_list .main_list_g01 a {
    color: #2AC1BC;
    background-color: #fff;
}
/* main .content01 section .main_list .main_list_g01 a::after {
    content: '';
    display: inline-block;
    background-image: url(../images/download_arrow.png);
    width: 40px;
    height: 36px;
} */
main .content01 section .main_list .main_list_g02 {text-align: right;}
/* ----- content01 End ----- */
/* ----- content02 Start ----- */
main .content02 {padding: 70px 0;}
main .content02 section h3 {
    margin-bottom: 41px;
    text-align: center;
    font-size: 2.125rem;
    font-weight: 500;
    color: #2AC1BC;
}
main .content02 section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .content02 section .content02_g1,
main .content02 section .content02_g2 {flex: 1;}
main .content02 section .content02_g1 fieldset ul li {margin-bottom: 30px;}
main .content02 section .content02_g1 fieldset ul li:last-child {margin:0; text-align: center;}
main .content02 section .content02_g1 fieldset ul li input {display: none;}
main .content02 section .content02_g1 fieldset ul li input + label {
    display: inline-block;
    padding-left: 65px;
    background-image: url(../images/uncheck_btn.png);
    background-size: 45px;
    line-height: 45px;
    background-repeat: no-repeat;
    font-size: 1.625rem;
    color: #000;
}
main .content02 section .content02_g1 fieldset ul li input:checked + label {
    display: inline-block;
    padding-left: 65px;
    background-size: 45px;
    line-height: 45px;
    background-image: url(../images/check_btn.png);
}
main .content02 section .content02_g1 fieldset ul li button {
    border: none;
    border-radius: 50px;
    padding: 5px 50px;
    font-size: 1.625rem;
    background-color: #e9ecef;
    color: #000;
}
main .content02 section .content02_g2 .txt_g {
    display: flex;
    height: 290px;
    margin-bottom: 25px;
}
main .content02 section .content02_g2 .txt_g .txt_left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 256px;
    border-radius: 30px 0 0 30px;
    background-color: #2AC1BC;
    color: #fff;
    font-size: 1.625rem;
    font-weight: 700;
}
main .content02 section .content02_g2 .txt_g .txt_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 465px;
    border-radius: 0 30px 30px 0;
    background-color: #e9ecef;
    font-size: 3.438rem;
    font-weight: 700;
    color: #2AC1BC;
}
main .content02 section .content02_g2 > p {
    font-size: 1.25rem;
    text-align: right;
}
/* ----- content02 End ----- */
/* ----- content03 Start ----- */
main .content03 {padding: 100px 0 184px;}
main .content03 section h3 {
    margin-bottom: 100px;
    text-align: center;
    line-height: 1.3;
    font-size: 2.688rem;
    font-weight: 700;
    color: #fff;
}
main .content03 section p {text-align: center;}
/* ----- content03 End ----- */
/* ----- content04 Start ----- */
main .content04 {padding-top: 100px;}
main .content04 section h3 {
    margin-bottom: 50px;
    font-size: 2.688rem;
    font-weight: 700;
    line-height: 1.3;
}
main .content04 section > p {
    margin-bottom: 50px;
    font-size: 1.625rem;
    line-height: 1.3;
}
main .content04 section > p span {color: #2AC1BC;}
main .content04 section ul {font-size: 1.625rem;}
main .content04 section ul li {line-height: 1.7;}
main .content04 section ul li:last-child {margin-top: 102px; text-align: center;}
main .content04 section ul li .app_download_btn {
    background-color: #2AC1BC;
    color: #fff;
}
main .content04 section .content04_g1 {
    display: flex;
    justify-content: space-between;
}
/* ----- content04 End ----- */
/* ----- content05 Start ----- */
main .content05 {padding-top: 70px;}
main .content05 section h3 {
    padding-bottom: 100px;
    text-align: center;
    line-height: 1.3;
    font-size: 2.688rem;
    font-weight: 700;
    color: #fff;
}
main .content05 section ul {
    padding-bottom: 111px;
    display: flex;
    justify-content: space-evenly;
}
main .content05 section ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%;
}
main .content05 section ul li h4 {
    margin-bottom: 15px;
    font-size: 1.625rem;
    font-weight: 500;
    color: #2AC1BC;
    text-align: center;
}
main .content05 section ul li p {
    font-size: 1.25rem;
    color: #2AC1BC;
    text-align: center;
    line-height: 1.3;
}
main .content05 section > p {text-align: center;}
/* ----- content05 End ----- */
/* ----- content06 Start ----- */
main .content06 {padding: 100px 0;}
main .content06 section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .content06 section div h3 {
    margin-bottom: 60px;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.3;
}
main .content06 section div h3 span {
    font-size: 2.688rem;
    font-weight: 700;
}
main .content06 section div h3 span em {
    font-weight: 700;
    color: #2AC1BC;
}
main .content06 section div p {
    font-size: 1.25rem;
    line-height: 1.3;
}
/* ----- content06 End ----- */
/* ----- content07 Start ----- */
main .content07 {padding: 260px 0;}
main .content07 section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .content07 section div h3 {
    margin-bottom: 100px;
    font-size: 2.688rem;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}
main .content07 section div p {
    font-size: 1.625rem;
    color: #fff;
    line-height: 1.4;
}
main .content07 section > p {margin-left: 135px;}
/* ----- content07 End ----- */
/* ----- content08 Start ----- */
main .content08 {padding: 140px 0;}
main .content08 section {text-align: center;}
main .content08 section h3 {
    margin-bottom: 104px;
    font-size: 3.438rem;
    font-weight: 700;
    color: #fff;
}
main .content08 section p {
    margin-bottom: 104px;
    font-size: 1.625rem;
    line-height: 1.4;
    color: #fff;
}
main .content08 section p em {font-weight: 700;}
/* ----- content08 End ----- */
/* ----- content09 Start ----- */
main .content09 {padding: 190px 0;}
main .content09 section h3 {
    margin-bottom: 85px;
    font-size: 3.438rem;
    font-weight: 700;
    text-align: center;
}
main .content09 section .content09_g1 {margin-bottom: 371px;}
main .content09 section .content09_g1 .g1_img {
    margin-bottom: 36px;
    text-align: center;
}
main .content09 section .content09_g1 .g1_txt {
    margin-bottom: 50px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}
main .content09 section .content09_g1 .g1_list {
    display: flex;
    justify-content: space-around;
}
main .content09 section .content09_g1 .g1_list p {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 300px;
    height: 300px;
    font-size: 1.25rem;
    line-height: 1.3;
    background-color: #2AC1BC;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
main .content09 section .content09_g2 .g2_img {
    margin-bottom: 100px;
    text-align: center;
}
main .content09 section .content09_g2 .g2_list {
    display: flex;
    justify-content: space-between;
}
main .content09 section .content09_g2 .g2_list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    width: 300px;
    height: 300px;
    background-color: #2AC1BC;
    border-radius: 50%;
    color: #fff;
}
main .content09 section .content09_g2 .g2_list li strong {
    margin-bottom: 27px;
    font-size: 1.625rem;
    font-weight: 700;
}
main .content09 section .content09_g2 .g2_list li p {
    font-size: 1.25rem;
    line-height: 1.3;
}
/* ----- content09 End ----- */
/* ----- content10 Start ----- */
main .content10 {padding: 90px 0;}
main .content10 section {text-align: center;}
main .content10 section h3 {
    margin-bottom: 113px;
    font-size: 2.688rem;
    font-weight: 700;
    color: #fff;
}
main .content10 section p:first-of-type {
    margin-bottom: 219px;
    font-size: 2.125rem;
    line-height: 1.3;
    color: #fff;
}
main .content10 section .gift_img img {margin-left: 150px;}
/* ----- content10 End ----- */
/* ----- content11 Start ----- */
main .content11 {padding: 193px 0 169px;}
main .content11 section {text-align: center;}
main .content11 section .char_img {margin-bottom: 45px;}
main .content11 section .char_img img {
    width: 328px;
    height: 324px;
}
main .content11 section .txt {
    margin-bottom: 121px;
    font-size: 2.125rem;
    line-height: 1.3;
}
main .content11 section .txt em {color: #2AC1BC;}
main .content11 section .btn {
    display: flex;
    justify-content: center;
}
main .content11 section .btn .notice_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 467px;
    padding: 10px 20px;
    background-color: #2AC1BC;
    border-radius: 50px;
    font-size: 2.688rem;
    color: #fff;
}
main .content11 section .btn .notice_btn::before {
    content: '';
    display: inline-block;
    background-image: url(../images/campaign.png);
    width: 40px;
    height: 40px;
}
main .content11 section .btn .notice_btn::after {
    content: '';
    display: inline-block;
    background-image: url(../images/arrow_forward.png);
    width: 40px;
    height: 40px;
}

/* ----- content11 End ----- */
/* ----- content12 Start ----- */
main .content12 {padding: 43px 0;}
main .content12 .ft_set {
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin: 0 auto;
}
main .content12 .ft_set .ft_g1 {}
main .content12 .ft_set .ft_g1 address {}
main .content12 .ft_set .ft_g1 address ul {
    font-size: 1.25rem;
    color: #fff;
}
main .content12 .ft_set .ft_g1 address ul li {
    margin-bottom: 30px;
    line-height: 1.3;
}
main .content12 .ft_set .ft_g1 address ul li:last-child {margin: 0;}
main .content12 .ft_set .ft_g2 {}
main .content12 .ft_set .ft_g2 p {
    margin-bottom: 30px;
    text-align: right;
    font-size: 2.125rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
}
main .content12 .ft_set .ft_g2 ul {
    display: flex;
    justify-content: flex-end;
}
main .content12 .ft_set .ft_g2 ul li {margin-right: 20px;}
main .content12 .ft_set .ft_g2 ul li:last-child {margin: 0;}
/* ----- content12 End ----- */