/* 배경 공통&개별값 */
main {}

main .bg {
    background-position: center;
    background-repeat: no-repeat;
}

main .content01 {
    background-image: url(../images/bg.jpg);
    height: 1002px;
}

main .content02 {
    background-image: url(../images/bg_2.jpg);
    height: 500px;
}

main .content03 {
    background-image: url(../images/bg_3.jpg);
    height: 1241px;
}

/* ---------- 1. 표지 ----------*/
main .content01 section {
    overflow: hidden;
    width: 1250px; 
    margin: 0 auto; 
}

main .content01 section h1 {margin-bottom: 141px;}
main .content01 section h1 a {}
main .content01 section h1 a img {}
main .content01 section h2 {
    margin-bottom: 69px;
    text-align: center;
    color: #fff;
    font-size: 4.375rem;
    letter-spacing: -0.2px;
    line-height: 1.2;
}

main .content01 section h2 span {font-weight: 700;}

main .content01 section .sponsor_btn::after {
    /* before 앞, after 뒤 */
    content: '';
    display: inline-block;
    background-image: url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

main .content01 section .sponsor_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 409px;
    height: 71px;
    margin-bottom: 90px;
    border-radius: 50px;
    font-size: 2.125rem;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(90deg, #F29300, #FF7300);
    /*
    gradient 적용을 위해 background 통합속성을 사용했을 때
    요소 추가 배경이미지 꾸미기를 원한다면 가상선택자(before, after)를 활용하는것을 권장한다. 
    */
}

main .content01 section .question_btn::before {
    content: '';
    display: inline-block;
    padding-right: 5px;
    background-image: url(../images/icon_sns.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

main .content01 section .question_btn::after {
    content: '';
    display: inline-block;
    padding-left: 5px;
    background-image: url(../images/btn_right_arrow.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

main .content01 section .question_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 337px;
    height: 54px;
    font-size: 1.25rem;
    color: #fff;
    background-color: #050505;
    border-radius: 50px;
}

/* ---------- 2. 퀴즈 ----------*/
/* left content02_g01 */
main .content02 article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    margin: 0 auto;
    height: 500px;
}

main .content02 article .content02_g01 fieldset h3 {
    margin-bottom: 17px;
    text-align: center;
    font-weight: 700;
    font-size: 3.438rem;
    color: #fff;
}

main .content02 article .content02_g01 fieldset > p:first-of-type {
    margin-bottom: 30px;
    font-size: 1.25rem;
    color: #fff;
}
main .content02 article .content02_g01 fieldset .quiz_list {margin-bottom: 34px; padding: 20px 20px 0;}
main .content02 article .content02_g01 fieldset .quiz_list li {margin-bottom: 34px;}
main .content02 article .content02_g01 fieldset .quiz_list li:last-child{margin: 0;}

main .content02 article .content02_g01 fieldset .quiz_list li input {display: none;}
main .content02 article .content02_g01 fieldset .quiz_list li input:checked + label {
    display: inline-block;
    padding-left: 48px;
    background-image: url(../images/quiz_checked.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    width: 28px;
    height: 28px;
}

main .content02 article .content02_g01 fieldset .quiz_list li input + label {
    display: inline-block;
    padding-left: 48px;
    background-image: url(../images/quiz_unchecked.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    width: 28px;
    height: 28px;
}


main .content02 article .content02_g01 fieldset .quiz_list li label {
    font-size: 1.25rem;
    color: #fff;
}

main .content02 article .content02_g01 p button {
    width: 450px;
    height: 40px;
    cursor: pointer;
    background-color: #050505;
    border: none;
    border-radius: 50px;
    color: #fff;
}

/* right content02_g02 */
main .content02 article .content02_g02 {}
main .content02 article .content02_g02 .total_box{margin-bottom: 46px;}
main .content02 article .content02_g02 .total_box .total_box_head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 75px;
    background-color: #FF7300;
    border-radius: 10px 10px 0 0;
}

main .content02 article .content02_g02 .total_box .total_box_head::before {
    content: '';
    display: inline-block;
    background-image: url(../images/icon_person.svg);
    background-size: 32px;
    width: 32px;
    height: 32px;
}

main .content02 article .content02_g02 .total_box .total_box_head {
    display: flex;
    color: #fff;
    font-size: 1.625rem;
    font-weight: 700
}

main .content02 article .content02_g02 .total_box .total_box_body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 155px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 2.125rem;
    color: #FF7300;
}

main .content02 article .content02_g02 .total_box .total_box_body span .total_box_body_fc {
    font-size: 3.438rem;
    font-weight: 700;
}
main .content02 article .content02_g02 .total_box .total_box_body span .total_box_body_fcb {color: #000;}
main .content02 article .content02_g02 > p {
    text-align: right;
    color: #fff;
}

/* ---------- 3. 동영상 ----------*/